#!/bin/bash
# created by Ansible
##
# k3d_cluster_name: {{ k3d_cluster_name }}
# k3d_k3s_image: {{ k3d_k3s_image }}
# k3d_agent_count: {{ k3d_agent_count }}
##
# before we create the cluster - stop them all to avoid port conflicts
/usr/local/bin/k3d cluster stop --all
# create the cluster!
/usr/local/bin/k3d cluster create {{ k3d_cluster_name }} \
 --network {{ k3d_cluster_name }}_net \
{% if k3d_no_traefik|bool|default(false) %}
 --k3s-arg --no-deploy --k3s-arg traefik \
{% endif %}
{% if k3d_host_ip is defined %}
 --k3s-arg --tls-san --k3s-arg {{ k3d_host_ip }} \
{% endif %}
 --agents {{ k3d_agent_count }} --api-port {{ k3d_api_host }}:{{ k3d_api_port }} \
{# ports #}
{% for port in k3d_exposed_ports %}
 --port {{ port }}:{{ port }}@loadbalancer \
{% endfor %}
{# volumes #}
 --volume /data/k3d/{{ k3d_cluster_name }}/pv:/var/lib/rancher/k3s/storage@server[0]  \
 --volume /data/k3d/{{ k3d_cluster_name }}/logs-server:/var/log@server[0]  \
{# this a hack bind mount to try to make filebeat/elasticsearch GitLab managed app work properly #}
 --volume /data/k3d/{{ k3d_cluster_name }}/logs-server/containers:/var/lib/docker/containers@server[0]  \
{% for i in range(k3d_agent_count) %}
 --volume /data/k3d/{{ k3d_cluster_name }}/pv:/var/lib/rancher/k3s/storage@agent[{{ i }}] \
 --volume /data/k3d/{{ k3d_cluster_name }}/logs-agent{{ i }}:/var/log@agent[{{ i }}] \
{# this a hack bind mount to try to make filebeat/elasticsearch GitLab managed app work properly #}
 --volume /data/k3d/{{ k3d_cluster_name }}/logs-agent{{ i }}/containers:/var/lib/docker/containers@agent[{{ i }}] \
{% endfor %}
{# end volumes #}
 --image "{{ k3d_k3s_image }}"
