- hosts: all
  become: yes
  become_method: sudo
  roles:
    - statler

# baselevel
- hosts: all
  become: yes
  become_method: sudo
  roles:
    - baselevel

# updates
- hosts: all
  become: yes
  become_method: sudo
  roles:
    - reboot

  tasks:
   - name: update apt cache
     apt: update_cache=yes

   - name: run apt upgrade
     apt: upgrade=full

   - name: check if a reboot is required
     shell: "[ -f /var/run/reboot-required ]"
     failed_when: False
     register: reboot_required
     changed_when: reboot_required.rc == 0
     notify:
       - reboot sequence

# mailforwarding
- hosts: all,!proxy
  become: yes
  become_method: sudo
  roles:
    - mailforwarding
