# ignore vault secrets
_secrets/

# ignore scratchpad dir
scratchpad/

# ignore various certificates
certificates/

# ignore cluster subdirs for now
clusters/*

# ignore retry files
*.retry

# ignore dumpvars dir
dumpvars/

# ignore .decrypted vault files
*.decrypted

# ignore direnv/autoenv config
.envrc
.autoenv

# ignore ansible galaxy roles and collections
roles.galaxy/
ansible_collections/

# ignore host dir
hosts/

# ignore yaks tool settings
.yaks.yml

# ignore pry_history
.pry_history

# ignore vagrant output
.vagrant
# ignore vagrant hosts maker files
.vagrant_hostip_cache.yml
.vagrant_gitlab_versions.yml

# ignore cache files
*.cache