# ignore vault secrets
_secrets/

# ignore scratchpad dir
scratchpad/

# ignore various certificates
certificates/

# ignore cluster subdirs for now
clusters/*

# ignore retry files
*.retry

# ignore dumpvars dir
dumpvars/

# ignore .decrypted vault files
*.decrypted

# ignore direnv/autoenv config
.envrc
.autoenv

# ignore ansible galaxy roles and collections
roles.galaxy/
ansible_collections/

# ignore host dir
hosts/

# ignore rap settings
.rap-settings.yml

# ignore cache files
*.cache