[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dns-lexicon = "*"
prettytable = "*"
pyyaml = "*"
paramiko = "*"
prompt-toolkit = "*"
ascii-graph = "*"
openshift = "*"
requests = "*"
ansible = "~=2.10"
pycrypto = "*"

[requires]
python_version = "3.8"
