- name: Install ufw
  apt: pkg=ufw state=present

- name: reset ufw
  ufw: state=reset

- name: open SSH port
  ufw: rule=allow name=OpenSSH

- name: open Apache ports if applicable
  ufw: rule=allow name='Apache Full'
  when: "'webservers' in group_names"
  ignore_errors: True

- name: allow defined ip's access to everything
  ufw: rule=allow src={{ item }} insert=1
  with_items: "{{ ip_allow_list }}"
  when: ip_allow_list is defined

- name: block offending ip's when defined
  ufw: rule=deny logging=on src={{ item }} insert=1
  with_items: "{{ ip_block_list }}"
  when: ip_block_list is defined

- name: make sure ufw is enabled
  ufw: state=enabled direction={{ item.direction }} policy={{ item.policy }}
  with_items:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }
