---
- name: Make sure apt is setup for external repositories
  import_role:
    name: aptprep
    tasks_from: main.yml

- name: Make sure /etc/docker exists
  file:
    path: /etc/docker
    state: directory
    mode: 0755

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    state: present

- name: Add Docker APT repository
  apt_repository:
    repo: deb [arch=amd64] {{ docker_package_host }} {{ansible_distribution_release}} stable
    state: present
    update_cache: yes

- name: Install Docker packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - 'docker-ce'
      - 'docker-ce-cli'
      - 'containerd.io'

- name: Deploy Docker daemon.json.
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
  tags:
    - daemonconfig

- name: Make sure /usr/local/lib/docker/cli-plugins exists
  file:
    path: /usr/local/lib/docker/cli-plugins
    state: directory
    mode: 0755

- name: Download docker compose binary
  get_url:
    url:  "https://github.com/docker/compose/releases/download/v2.1.1/docker-compose-linux-x86_64"
    dest: /usr/local/lib/docker/cli-plugins/docker-compose
    mode: 0755

# proxy information
- { include: proxy.yml, tags: [ 'proxy' ], when: (container_proxy_host is defined) }

- name: restart docker and reload systemd configuration
  systemd:
    state: restarted
    daemon_reload: yes
    name: docker

- name: Ensure docker users are added to the docker group.
  user:
    name: "{{ ansible_ssh_user }}"
    groups: docker
    append: true
